header{
    background-color: #b6c9e2;
    border-bottom: solid #007AF5 5px;
    width: 100%;

    height: 70px;
}

#navbar-button{
    display: none;
}

.logo{
    width: 60px;
    margin-top: 5px;
    margin-left: 5px;
}

nav{
    float: right;
    width: 90%;
    height: 100%;
}

.navbar-list{
    list-style: none;
    height: inherit;
}

.navbar-list-item{
    text-decoration: none;
    color: black;
    display: inline-block;
    float: right;
    padding: 30px;
    padding-bottom: 21px;
}

.navbar-list-item:hover{
   background-color: #d7e0eb;
}

/*-----------------Responsive-----------------*/

/*Dispositivo Movil por anchura*/
@media(max-width: 350px){
    .navbar-list-item{
        padding-left: 7px;
        padding-right: 7px;
    }

    .logo{
        width: 60px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

@media(min-width: 351px) and (max-width: 740px){
    .logo{
        width: 60px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
    nav{
        float: right;
        width: 100%;
        height: 100%;
    }

    .navbar-list-item {
        margin-top: 9px;
    }
}